/* Tags */
html {
    scroll-behavior: smooth;
}

body {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    font-family: Segoe_UI, serif;
    /* background-color: black; */
}

/* Classes */
.container-fluid {
    padding: 0;
}

.acrylic {
    padding: 4em 6em;
    position: relative;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.shadow {
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(255, 255, 255, 0.2);
}

/* Other */
@font-face {
    font-family: Segoe_UI;
    src: url("Segoe_UI.ttf");
}