/* Tags */
html {
    scroll-behavior: smooth;
}

body {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    font-family: Segoe_UI, serif;
    /* background-color: black; */
}

a, a:hover, a:focus, a:active, a:link {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, a:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(255, 255, 255, 0.2) !important;
    color: darkgray;
}

/* Classes */
.container-fluid {
    padding: 0;
}

.acrylic {
    position: relative;
    background: rgba(203, 203, 203, 0.5);
    -webkit-backdrop-filter: blur(500px);
    backdrop-filter: blur(500px);
}

.shadow {
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(203, 203, 203, 0.2);
}

.big-button {
    padding-top: 5px;
    padding-right: 20px;
    height: 195px;
    width: 596px;
    color: black;
    position: fixed;
}

.big-button img {
    background: rgb(13, 110, 253);
    height: calc(100% + 5px);
    width: 33.3%;
    margin-top: -5px;
    margin-left: -3px;
    margin-bottom: 0;
}

.big-button span {
    position: absolute;
    margin-top: 30px;
    margin-left: 10%;
}

.small-button {
    padding-top: 5px;
    padding-right: 20px;
    height: 95px;
    width: 596px;
    color: black;
    position: fixed;
}

.small-button img {
    height: calc(100% + 5px);
    width: 33.3%;
    margin-top: -5px;
    margin-left: -3px;
    margin-bottom: 0;
}

.small-button span {
    position: absolute;
    margin-top: 4px !important;
    margin-left: 7% !important;
}

.display-4 {
    margin-top: 55px !important;
    margin-left: 7% !important;
}

.button {
    margin-top: 15px;
    margin-left: 15%
}

.rounded {
    border-radius: 30px !important;
}

.rounded-start {
    border-radius: 30px 0 0 30px !important;
}


/* IDs */
#button1 {
    margin-top: 225px;
}

#button2 {
    /*195*/
    margin-top: 435px;
}

#button3 {
    margin-top: 60px !important;
}

#button4 {
    margin-top: 30px !important;
}


#index {
    width: auto;
    height: 800px;
    margin: 32px 44px 32px 50% !important;
}

#about {
    width: auto;
    padding-bottom: 20px;
    margin-top: 8%;
    margin-left: 450px;
    margin-right: 450px;
}

#about-me {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
}

#about-bottom {
    margin-top: calc(7cm + 10px) !important;
    color: white;
}

#title {
    color: white;
}

#projects {
    color: white;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    height: 830px;
}

#contact-info {

}

#contact {
    width: auto;
    padding-bottom: 20px;
    margin-top: 8%;
    margin-left: 450px;
    margin-right: 450px;
}

/* Other */
@font-face {
    font-family: Segoe_UI;
    src: url("Segoe_UI.ttf");
}